In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

dataset_train = pd.read_csv("https://www.dropbox.com/s/i51whixi8pyxopr/train.csv?dl=1")
dataset_test = pd.read_csv("https://www.dropbox.com/s/5a86581dbi0yr18/test.csv?dl=1")

In [35]:
dataset_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [99]:
dataset_train.all()

Id                True
MSSubClass        True
MSZoning          True
LotFrontage       True
LotArea           True
Street            True
Alley             True
LotShape          True
LandContour       True
Utilities         True
LotConfig         True
LandSlope         True
Neighborhood      True
Condition1        True
Condition2        True
BldgType          True
HouseStyle        True
OverallQual       True
OverallCond       True
YearBuilt         True
YearRemodAdd      True
RoofStyle         True
RoofMatl          True
Exterior1st       True
Exterior2nd       True
MasVnrType        True
MasVnrArea       False
ExterQual         True
ExterCond         True
Foundation        True
                 ...
BedroomAbvGr     False
KitchenAbvGr     False
KitchenQual       True
TotRmsAbvGrd      True
Functional        True
Fireplaces       False
FireplaceQu       True
GarageType        True
GarageYrBlt       True
GarageFinish      True
GarageCars       False
GarageArea       False
GarageQual        True
GarageCond        True
PavedDrive        True
WoodDeckSF       False
OpenPorchSF      False
EnclosedPorch    False
3SsnPorch        False
ScreenPorch      False
PoolArea         False
PoolQC            True
Fence             True
MiscFeature       True
MiscVal          False
MoSold            True
YrSold            True
SaleType          True
SaleCondition     True
SalePrice         True
dtype: bool

In [27]:
dataset_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [124]:
X_train, y_train = dataset_train.OverallQual, dataset_train.SalePrice

In [125]:
X_test = dataset_test.OverallQual

In [126]:
def covariance(series_x, series_y):
    N = len(series_x)
    return sum([(series_x[i] - np.mean(series_x)) * (series_y[i] - np.mean(series_y)) for i in range(N)])

In [127]:
def coefficients(X, Y):
    beta_1 = covariance(X, Y) / variance(X)
    beta_0 = np.mean(Y) - beta_1 * np.mean(X)
    return beta_0, beta_1

In [128]:
def prediction(X, coefficients):
    beta_0, beta_1 =coefficients
    return [beta_0 + beta_1 * x for x in X]

In [129]:
y_hat = prediction(X_test, coefficients(X_train, y_train))

y_hat_df = pd.DataFrame({'Id': range(1461,2920), 'SalePrice': y_hat})

y_hat_df.to_csv('submission.csv', index=False)